# Modules and environment variables for TFB_Objects

# it is recommended to load modules including specific versions here, e.g.:
# module load conda/analysis3-26.03

# to load the environment run `source .envrc` or use direnv, more details:
# https://21centuryweather.github.io/21st-Century-Weather-Software-Wiki/gadi/direnv.html